*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0%;
}

.logo{
    width: 160px;
    margin-left: 10%;
    margin-top : 20px;
    margin-bottom: 20px;
}
img {
    width: 100%;
    height: 100%;
}
.text-md{
    font-size: 25px;
}
.text-lg {
    font-size: 8vh;
}
.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.w-80{
    width: 80%;
}
.w-60{
    width: 60%;
}
.flex{
    display: flex;
}
.gray-txt{
    color: #646d8c;
}
.red-bg{
    background-color: #E96064;
}
.red-txt{
    color: #E96064;
}
.bold{
    font-weight: bolder;
}
.extra-bold{
    font-weight: 1000;
    margin-left: 5px;
    margin-right: 5px;
}
.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}
.mt-10{
    margin-top: 10px;
}
.mt-40{
    margin-top: 40px;
}
.full{
    width: 1000px;
}
.light{
    font-weight: 100;
    
    color: aliceblue;
    
    border: 0.1em solid rgb(227, 227, 227) ;
    
}
hr{
   width:80%;
}
#resume-upload{
    display: none;
}
.drop-box label{
    
    width: 100%;
    height: 100px;
    
}
.drop-box{
    width: 70%;
    height: 100px;
    background-color: #f6f6f6;

    display: flex;
    outline: 2px dashed #afaeae;
}
.center{
    justify-content: center;
}
.text-center {
    text-align: center;
}
.text-sm{
    font-size: small;
}
.w-40{
    width: 40%;
}
.ml-10{
    margin-left: 10px;
}
.mt-20{
    margin-top: 20px;
}
#easy-apply {
    border: none;
    padding: 10px 20px 10px 20px;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
}
#easy-apply-leftbar{
    width: 40px;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #E96064;
    display: flex;
    justify-content: center;
    align-items: center;
}
.z-box {
    background-color: #E96064;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    width: 23px;
}
.black-txt{
    color: black;
}
.inputs{
    border: 2px solid rgb(194, 202, 219);
    height: 40px;
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
    outline: none;
}
.relative{
    position: relative;
}

.full{
    width: 100%;
}
.flex-col{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.mb-0{
    margin-bottom: 0;
}
.mb-10{
    margin-bottom: 10px;
}
.w-40{
    width: 40%;
}
.w-70{
    width: 70%;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.w-80{
    width: 80%;

}
.resume-upload-bottom{
    width: 40%;
    height: 40px;
    background-color: #f6f6f6;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px dashed #afaeae;
}

.white-txt{
    color: white;
}

.white-bg{
    background-color: white;
}
.submit-btn{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid;
    border: 1px solid;
    border-radius: 5px;
}
footer{
    height: 100px;
    background-color: #f6f6f6;

}
.z-recruit{
    width: 100px;
    height: 40px;
}
